/* Fondo de la sección con imagen alusiva al anime */
section {
    background: url('../images/DragonZ.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px 0;
    color: #fff;
}

/* Títulos */
h2 {
    font-family: 'Arial Black', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Imágenes dentro de las tarjetas */
img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top center; /* Enfoca la cara y parte del cuerpo */
    border-radius: 5px;
}

/* Tarjetas */
.card {
    margin: 0 auto;
    border: 2px solid #ffc107; /* Amarillo */
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-color: #dc3545; /* Rojo al hacer hover */
}

/* Botón con hover */
button {
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #28a745;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    padding: 8px 12px;
}

button:hover {
    background-color: #28a745;
    color: #fff;
}

/* Footer */
footer {
    font-family: 'Courier New', monospace;
    font-size: 1.2rem;
    padding: 10px 0;
}

.desarrollador {
    font-family: 'Arial Black', sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
}
